@import './variables.css';

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-body);
  color: var(--color-very-dark-violet);
  background-color: white;
  line-height: 1.6;
}
